<div id="container">
    <div class="card">
      <img src="../assets/giovanne.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Giovanne Pagano </h5>
        <p class="card-text">Estudante da escola Etec Horacio Augusto da Silveira, no curso de Desenvolvimento de Sistemas, sendo um curso full stack</p>
        <a href="https://github.com/GiovannePDS7" target="_blank" class="btn btn-primary">GitHub</a>
      </div>
    </div>

    <div class="card">
      <img src="../assets/joao.jpg" class="card-img-top teste" alt="...">
      <div class="card-body">
        <h5 class="card-title">João Eduardo</h5>
        <p class="card-text">Estudante da escola Etec Horacio Augusto da Silveira, no curso de Desenvolvimento de Sistemas, sendo um curso full stack</p>
        <a href="https://github.com/juedu006" target="_blank" class="btn btn-primary">GitHub</a>
      </div>
    </div>
</div>
